.transactionhistory {
  background-color: #fdfefe;
  width: 800px;
  margin: 0px auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 1px 34px 4px rgba(171, 178, 185, 1);
}

th,
td {
  height: 40px;
  text-align: center;
}
.tdtype {
  text-transform: capitalize;
}

th {
  background-color: #ca68f4;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

tr {
  font-size: 16px;
  background-color: #ebd2ea;
  color: #0c0c0ceb;
}

tr:nth-child(even) {
  background-color: #fde58463;
}